@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Noto+Sans+JP:wght@900&display=swap');

/* Add CSS for the typing effect */
.typing::after {
    content: '|';
    animation: typing 0.7s infinite alternate;
}

@keyframes typing {
    0% {
        content: '|';
    }
    100% {
        content: '';
    }
}


.bg-costum{
    background-color: rgba(0, 0, 0, 0) !important;
}
.bg-costum.scrolled{
    transition: 2s;
    background-color: rgba(15, 14, 23, 0.7) !important;
    border-radius: 5px;
}
.navbar-brand{
    color: #e53170 !important;
    font-family: 'Montserrat';
    font-weight: 900;
}
.teritary{
    color: #e53170 !important;
}
.nav-link {
    color: #fffffe !important;
    font-family: 'Montserrat';
    font-weight: 400;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff8906;
    transition: width .3s;
}

.nav-link:hover{
    color: #ff8906 !important;
    transition: .6s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.active{
    color: #ff8906 !important;
}

#hero{
    height: 100vh;
    background-color: #0f0e17;
    color: #fffffe;
    font-family: 'Montserrat', 'Noto Sans JP';
}
#hero h1{
    font-weight: 900;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.25);
}

.touch:hover{
    color: #ff8906;
    transition: .3s;
}
#about h1{
    font-weight: 900;
    color: #0f0e17;
}
#about{
    height: 500px;
    color: #2e2f3e;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.25);
    font-family: 'Montserrat';
    font-weight: 400;
}