@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Noto+Sans+JP:wght@900&display=swap');


body{
    height: 3000px;
    overflow-x: hidden;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}
  
::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Round the corners of the thumb */
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #999; /* Change the thumb color on hover */
}
.bg-costum{
    background-color: rgba(15, 14, 23, 0.2) !important;
}
.bg-costum.scrolled{
    transition: 2s;
    background-color: rgba(15, 14, 23, 0.7) !important;
    border-radius: 0 0px 5px 5px;
}
.navbar-brand{
    color: #e53170 !important;
    font-family: 'Montserrat';
    font-weight: 900;
}
.teritary{
    color: #e53170 !important;
}
.nav-link {
    color: #fffffe !important;
    font-family: 'Montserrat';
    font-weight: 400;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff8906;
    transition: width .3s;
}

.nav-link:hover{
    color: #ff8906 !important;
    transition: .6s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}
.active{
    color: #ff8906 !important;
}

#hero{
    height: 100vh;
    background-color: #0f0e17;
    color: #fffffe;
    font-family: 'Montserrat', 'Noto Sans JP';
}
#hero h1{
    font-weight: 900;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.25);
    height: 50px;
}

#text:hover{
    color: #ff8906;
    transition: .3s;
}
#about h1{
    font-weight: 900;
    color: #0f0e17;
}
#about{
    background-color: #fffffe !important;
    height: 500px;
    color: #2e2f3e;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.25);
    font-family: 'Montserrat';
    font-weight: 400;
}

#materi{
    min-height: 450px;
    background-attachment: fixed;
    background-image: url('img/paul-volkmer-qVotvbsuM_c-unsplash.jpg');
    background-size: cover;
}

#materi h1{
    font-weight: 900;
    text-shadow: 2px 2px 5px rgba(255,255,255,0.25);
}


*{
    cursor: crosshair;
}

.objek {
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}

.ripple {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(img/star.png);
    background-size: cover;
    background-color: #0f0e1752;
    border-radius: 50%; /* Membuatnya berbentuk lingkaran */
    transform: scale(0);
    animation: ripple-animation 0.4s linear;
    pointer-events: none;
  }
  
  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  
  
